.profile-settings__back-pane{
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    justify-items: center;

    width: 99vw;
    min-height: 100%;
    height: fit-content;
    margin-left: 1vw;

    background: #1E2418;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.profile-settings__back-button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 6vh;

    color: aliceblue;
    border-style: none;
    background: #B1091D;
    border-radius: 10px;
}
.profile-settings__back-button:hover {
    background: #af626e;
}
.profile-settings__settings-pane{

    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
}
.profile-settings__avatar-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-settings__avatar{
    width: 140px;
    height: 140px;
    background: #939999;
    border-radius: 15px;
}

.profile-settings__avatar-caption{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-settings__item{
    min-width: 524px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:40px 1px;
    align-items: end;

    font-size: 1.4rem;
    font-weight: bold;
}

.profile-settings__bottom-line {
    height: 1px;
    width: 100%;
    background-color: #7A4D40;
    grid-column: 1 /span 2;
    grid-row: 2;
}

.profile-settings__input{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 15px;
    width: 150px;
    margin-right: 0;
    text-align: right;
    border: none;
    background: none;
    box-shadow: none;

    color: aliceblue;
}

.profile-settings__input:focus{
    outline: none;
}

.profile-settings__input-wrap {
    display: flex;
    justify-self: end;
    justify-content: flex-end;
    align-items: flex-end;
    border-color: #4D4D4D;
    caret-color: #1E2418;
    background: none;
    width: fit-content;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 15px;
}

.profile-settings__input-wrap span {
    margin-bottom: 2px;
}

.profile-settings__input-wrap:hover{
    border-color: #939999;
    background-color: #4D4D4D;
}

.profile-settings__input-wrap:focus-within{
    border-color: #939999;
    background-color: #4D4D4D;
}

.profile-settings__item-value{
    color:#939999;
    justify-self: end;
}
.profile-settings__buttons-pane{
    margin-top: 30px;
    margin-bottom: 30px;
}
.profile-settings__button{
    min-width: 524px;
    display: grid;
    grid-template-rows:40px 1px;
    align-items: end;
    font-size: 1.4rem;
    font-weight: bold;
}

.profile-settings__button a {
    color: #B1091D;
    text-decoration-line: none;
}
.profile-settings__button a:hover {
    color: #b2505c;
    text-decoration-line: none;
}

.profile-settings__buttons-pane .profile-settings__bottom-line {
    grid-row: 2;
}