.signin__pane {
    display: grid;
    grid-template-rows: 40px auto 10px;
    width: 733px;
    height: 129px;
    background: #1E2418;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.signin__pane-name {
    margin-left: 25px;
    margin-top: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.signin__signup-link {
    margin: auto;
    margin-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.signin__signup-link a {
    text-decoration-line: none;
    color: #EAEAEA;
}
.signin__signup-link a:visited {
    text-decoration-line: none;
    color: #EAEAEA;
}

.signin__signup-link a:hover {
    text-decoration-line: none;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.signin__signup-link a:focus {
    text-decoration-line: none;
    color: #EAEAEA;
    text-shadow: none;
}
.signin__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.signin__back {
    margin:0;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin__input-assembly{
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
    width: 250px;
    grid-template-rows: 40px 1px 40px;
}
.signin__bottom-line {
    width:100%;
    height:1px;
    background-color: #7A4D40;
}
.signin__input{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;

    height: 2.5rem;
    margin-bottom: 0;
    border: none !important;
    border-radius: 1.375rem;
    background-color: transparent !important;
    box-shadow: none !important;

    color: aliceblue !important;
}

.signin__input:focus{
    outline: none;
}

.signin__input-wrap {
    color: rgba(147, 153, 153, 0);
    border-color: #4D4D4D;
    caret-color: #1E2418;
    background-color: #1E2418;
}
.signin__input-wrap:hover{
    border-color: #939999;
    background-color: #4D4D4D;
}

.signin__input-wrap:focus-within{
    border-color: #939999;
    background-color: #4D4D4D;
}
.signin__discription {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
}

.signin__submit-button {
    margin-right: 25px;
    height: 40px;
}

.signin__submit-button button {
    display: block;
    background: #B1091D;
    margin-left: auto;
    height: 100%;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: none !important;
}

.signin__submit-button button:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #a1565e;
}
.signin__submit-button button:focus {
    background: #B1091D;
    box-shadow: none;
}