.signin__pane {
    display: grid;
    grid-template-rows: 45px auto 10px;
    width: 733px;
    height: 129px;
    background: var(--pane-bg-color);
    box-shadow: var(--main-shadow-level1);
    border-radius: 15px;
}

.signin__pane-name {
    margin-left: 25px;
    margin-top: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.signin__signup-link {
    margin: auto;
    margin-top: 50px;
    font-weight: bold;
    font-size: 1.5rem;
}
.signin__signup-link a {
    text-decoration-line: none;
    color: var(--main-link-color);
}
.signin__signup-link a:visited {
    text-decoration-line: none;
    color: var(--main-link-color);
}

.signin__signup-link a:hover {
    text-decoration-line: none;
    color: var(--main-link-hover-color);
    text-shadow: var(--main-shadow-level1);
}
.signin__signup-link a:focus {
    text-decoration-line: none;
    color: var(--main-link-hover-color);
    text-shadow: var(--main-shadow-level1);
}
.signin__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.signin__back {
    margin:0;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin__input-assembly{
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
    width: 250px;
    grid-template-rows: 40px 1px 40px;
}
.signin__bottom-line {
    width:100%;
    height:1px;
    background-color: var(--bottom-line-color);
}
.signin__input {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    color: var(--from-input-font-color);

    height: 2.5rem;
    margin-bottom: 0;
    border: none;
    background: none;
    box-shadow: none;
}

.signin__input:focus{
    outline: none;
}

.signin__input-wrap {
    font-size: 1.2rem;
    color: var(--from-input-font-color);
    caret-color: var(--from-input-caret-color);
    background-color: var(--form-input-bg-color);
}
.signin__input-wrap:hover{
    background-color: var(--from-input-bg-hover-color);
}

.signin__input-wrap:focus-within{
    background-color: var(--from-input-bg-hover-color);
}
.signin__discription {
    font-weight: bold;
    font-size: 0.8rem;
}

.signin__submit-button {
    margin-right: 25px;
    height: 40px;
}

.signin__submit-button button {
    display: block;
    background: var(--form-button-bg-color);
    margin-left: auto;
    height: 100%;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--form-button-font-color);
    border: none;
}

.signin__submit-button button:hover {
    box-shadow: var(--main-shadow-level1);
    background: var(--form-button-bg-hover-color);
}
.signin__submit-button button:focus {
    background: var(--form-button-bg-hover-color);
    box-shadow: var(--main-shadow-level1);
}
