.chat-pane {
    display: grid;
    grid-template-rows: 84px auto;
    justify-items: center;
}
.chat-pane__header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 84px auto;

    width: 100%;
    height: 100%;
    background-color: #4D4D4D;

}
.chat-pane__avatar {
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
    width: 60px;
    height: 60px;
    background-color:#939999;
    border-radius: 5px;
}
.chat-pane__contact-name {
    align-self: end;

    font-size: 1.3rem;
    font-weight: bold;
}
.chat-pane__contact-status{
    align-self: start;

    font-size: 1rem;     
    font-weight: bold;
}

.chat-pane__main-pane {
    display: grid;
    grid-template-rows: auto 60px;
    grid-template-columns: auto 60px;

    max-width: 800px;
    min-width:480px;
    width: 50%;


}
.chat-pane__messages-pane {

}
.chat-pane__new-message-pane {
    display: grid;
    grid-template-columns: 40px auto 20px;
    align-items: center;
    justify-items: center;

    margin-bottom: 10px;

    background-color: #4D4D4D;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 15px;
    border-color:  #4D4D4D;
}
.chat-pane__new-message-pane:hover {
    background-color: #1E2418;
}

.chat-pane__new-message-pane:focus-within {
    background-color: #1E2418;
}

.chat-pane__attach-button {

}
.chat-pane__message-input {
    width: 100%;
}

.chat-pane__message-input {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;

    color: aliceblue;

    height: 2.5rem;
    margin-bottom: 0;
    border: none !important;
    border-radius: 1.375rem;
    background-color: transparent !important;
    box-shadow: none !important;
}
.chat-pane__message-input:focus{
    outline: none;
}

.chat-pane__submit-button {
    display: flex;
    align-items: center;
    justify-items: center;

    align-self: center;
    justify-self: center;

    text-align: center;

    width: 50px;
    height: 50px;

    margin-bottom: 10px;

    background: #B1091D;
    border-radius: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-pane__submit-button span{
    width: 100%;
}

.chat-pane__messages-pane {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.chat-pane__date-division{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chat-pane__date-caption {
    align-self: center;
}
.chat-pane__bottom-line {
    background-color: #7A4D40;
    width: 100%;
    height: 1px;
}

.chat-pane__received-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    align-self: start;

    width: auto;
    max-width:80%;
    padding: 10px 15px;
    margin-top: 10px;

    background: #1E2418;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 15px 15px 15px;
}

.chat-pane__sent-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    align-self: end;

    width: auto;
    max-width:80%;
    padding: 10px 15px;
    margin-top: 10px;

    background: #798271;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 15px;
}
.chat-pane__message-author{

    font-size: 1.4rem;
    font-weight: bold;
}
.chat-pane__message {

}
.chat-pane__time {
    display: flex;
    align-items: center;
    justify-items: center;
    align-self: flex-end;
}