.chat-setting__pane {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.chat-setting__avatar {
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--from-input-bg-hover-color);
    background-position: center;
    background-image: url("../../../../../resources/portrait.png");
    border-radius: 15px;
}


.chat-setting__caption {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chat-setting__avatar-input {
    display: none;
}
.chat-setting__avatar-input-label {
    display: block;
    width: 100%;
    height: 100%;
}

.chat-setting__avatar-input-label:hover {
    background-image: url("../../../../../resources/edit-icon.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: var(--main-hover-over-color);
    border-radius: 15px;
}
