.chatlist__back {
    overflow: hidden;
    width: 400px;
    height: 100%;
    background: #1E2418;
}
.chatlist__header {
    display: grid;
    width: 100%;
    grid-template-columns: auto 50px;
    height: 84px;
}
.chatlist__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 100%;
    color: rgba(147, 153, 153,0);
    border-color: #939999;
    background-color: #4D4D4D;
    border: 2px solid;
    border-radius: 15px;
}

.chatlist__search:hover {
    border-color: #4D4D4D;
    caret-color: #1E2418;
    background-color: #1E2418;
}

.chatlist__search:focus-within {
    border-color: #4D4D4D;
    caret-color: #1E2418;
    background-color: #1E2418;
}

.chatlist__search-icon {
    color: #939999;
}
.chatlist__search-input{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;

    color: aliceblue;

    height: 2.5rem;
    margin-bottom: 0;
    border: none !important;
    border-radius: 1.375rem;
    background-color: transparent !important;
    box-shadow: none !important;
}
.chatlist__search-input:focus{
    outline: none;
}

.chatlist__profile-settings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    background: none;
    color: #939999;
    border-style: none;
}

.chatlist__profile-settings:hover{
    color: aliceblue;
}

.chatlist__list-pane{
    display: flex;
    overflow-y:hidden;
    height: auto;
    flex-direction: column;
    align-items: center;
}
.chatselector{
    display: grid;
    width: 100%;
    grid-template-columns: 84px auto;
    height: 84px;
}
.chatselector:hover {
    display: grid;
    width: 100%;
    grid-template-columns: 84px auto;
    height: 84px;
    background: #4D4D4D;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.chatselector__bottom-line {
    background: rgba(122, 77, 64, 0.43);
    width: 90%;
    height: 1px;

}
.chatselector__avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.chatselector__avatar{
    width: 57px;
    height: 57px;
    background: #939999;
    border-radius: 5px;
}
.chatselector__discription{
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: 30px auto;
    grid-template-areas:
    "a b"
    "a b";
}
.item1 {
    grid-area: a;
}
.item2 {
    grid-area: b;
    align-self: center;
}

.chatselector__name{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;

    color: #FFFFFF;
}
.chatselector__last-messege{
    display: flex;
    justify-content: left;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 0;

    color: #FFFFFF;
}
.chatselector__last-time{



    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    text-align: center;

    color: #FFFFFF;
}
.chatselector__unread{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.chatselector__unread-circle{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #B1091D;
    border-radius: 50%;
    width: 25px;
    height: 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
}