.chat-pane__stub {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 100%;
  width: auto;
}

.chat-pane {
  display: grid;
  grid-template-rows: 84px auto;
  height: 100%;
  overflow: hidden;
}

.chat-pane > * {
  justify-self: center /* following to autoprefixer recommendations*/
}

.chat-pane__header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 84px auto 84px;
  width: 100%;
  height: 100%;
  background-color: var(--chat-pane-header-bg-color);
}

.chat-pane__option-button {
  grid-row: 1 / span 2;
  grid-column: 3;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: var(--main-font-color);
  width: 40px;
  height: 40px;
  background-color: var(--chat-pane-header-bg-color);
  border-radius: 5px;
}

.chat-pane__option-button:hover {
  background-color: var(--main-hover-over-color);
}

.chat-pane__avatar {
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: center;
  width: 60px;
  height: 60px;
  background-color: var(--chat-pane-avartar-color);
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-image: url("../../../../../resources/chat-icon.png");
}

.chat-pane__contact-name {
  align-self: end;
  font-size: 1.3rem;
  font-weight: bold;
}

.chat-pane__contact-status {
  align-self: start;
  font-size: 1rem;
  font-weight: bold;
}

.chat-pane__main-area {
  display: grid;
  grid-template-rows: auto 60px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.chat-pane__messages-area {
  display: flex;
  flex-direction: column;
  padding-left: 25%;
  padding-right: calc(25% - 10px);
  width: calc(50% + 10px);
  height: 100%;
  overflow-y: auto;
}

.chat-pane__message-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.chat-pane__messages-area::-webkit-scrollbar {
  width: 10px;
  background-color: var(--main-icon-color);
}

.chat-pane__messages-area::-webkit-scrollbar-thumb {
  background-color: var(--main-accent-color);
  border-radius: 0;
}

.chat-pane__messages-area::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--main-icon-color);
}

.chat-pane__message-input-section {
  padding-left: 25%;
  padding-right: 25%;
  width: 50%;
  height: 100%;
}



.chat-pane__new-message-wrapper {
  display: grid;
  height: 60px;
  grid-template-columns: 100% 60px;
}
.chat-pane__new-message-pane {
  display: grid;
  grid-template-columns: 40px auto 20px;
  margin-bottom: 10px;
  background-color: var(--chat-pane-newmsg-bg-color);
  box-shadow: var(--main-shadow-level1);
  border-radius: 15px 15px 0;
}

.chat-pane__new-message-pane > * { /*following to autoprefixer recommendations*/
  align-self: center;
  justify-self: center
}

.chat-pane__new-message-pane:hover {
  background-color: var(--chat-pane-newmsg-bg-focus-color);
}

.chat-pane__new-message-pane:focus-within {
  background-color: var(--chat-pane-newmsg-bg-focus-color);
}

.chat-pane__attach-button {
  color: var(--chat-pane-icon-color);
}

.chat-pane__attach-button:hover {
  color: var(--chat-pane-icon-hover-color);
}

.chat-pane__message-input {
  width: 100%;
}

.chat-pane__message-input {
  font-family: Roboto;
  font-size: 1.25rem;
  color: var(--chat-pane-newmsg-font-color);
  height: 2.5rem;
  margin-bottom: 0;
  border: none;
  border-radius: 1.375rem;
  background-color: transparent;
  box-shadow: none;
}

.chat-pane__message-input:focus {
  outline: none;
}

.chat-pane__submit-button {
  color: var(--main-font-color);
  display: flex;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background: var(--chat-pane-submit-color);
  border-radius: 25px;
  box-shadow: var(--main-shadow-level1);
}

.chat-pane__submit-button:hover {
  background: var(--chat-pane-submit-hover-color);
}

.chat-pane__submit-button span {
  width: 100%;
}



.chat-pane__date-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-pane__date-caption {
  padding-top: 30px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
  display: block;
}

.chat-pane__bottom-line {
  background-color: var(--bottom-line-color);
  width: 100%;
  height: 1px;
}


.chat-pane__received-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: start;
  width: auto;
  max-width: 80%;
  padding: 10px 15px;
  margin-top: 10px;
  background: var(--chat-pane-received-msg-bg-color);
  box-shadow: var(--main-shadow-level1);
  border-radius: 0 15px 15px;
}

.chat-pane__sent-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: end;
  width: auto;
  max-width: 80%;
  padding: 10px 15px;
  margin-top: 10px;
  background: var(--chat-pane-sent-msg-bg-color);
  box-shadow: var(--main-shadow-level1);
  border-radius: 15px 15px 0;
}

.chat-pane__message-author {
  font-size: 1.2rem;
  font-weight: bold;
}

.chat-pane__message {

}

.chat-pane__time {
  display: flex;
  align-items: center;
  justify-items: center;
  align-self: flex-end;
}
