.chat-list {
  height: 100%;
}
.chat-list__list-pane {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100% - var(--chatList-header-height));
  align-items: center;
  padding: 0;
  margin: 0;
}

.chat-list__list-pane::-webkit-scrollbar {
  width: 10px;
  background-color: var(--chatlist-bg-color);
}

.chat-list__list-pane::-webkit-scrollbar-thumb {
  background-color: var(--main-accent-color);
  border-radius: 0;
}

.chat-list__list-pane::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--chatlist-bg-color);
}

.chat-list__element {
  margin: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 84px auto;
  height: 84px;
  cursor: pointer;
  flex-shrink: 0;
}

.chat-list__element:hover {
  display: grid;
  width: 100%;
  grid-template-columns: 84px auto;
  height: 84px;
  background: var(--chatlist-selector-hover-color);
  box-shadow: var(--main-shadow-level1);
  border-radius: 15px;
}

.chat-list__bottom-line {
  background: var(--bottom-line-color);
  width: 90%;
  height: 1px;
}

.chat-list__avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chat-list__avatar {
  width: 57px;
  height: 57px;
  background: var(--chatlist-avatar-color);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--from-input-bg-hover-color);
  background-position: center;
  background-image: url("../../../../../resources/chat-icon.png");
}

.chat-list__discription {
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: 40px auto;
}

.chat-list__name {
  align-self: end;
  font-weight: bold;
  font-size: 24px;
  color: var(--chatlist-selector-font-color);
}

.chat-list__last-messege {
  align-self: center;
  justify-self: left;
  font-size: 0.8rem;
  color: var(--chatlist-selector-font-color);
}

.chat-list__last-time {
  align-self: end;
  justify-self: center;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: var(--chatlist-selector-font-color);
}

.chat-list__unread {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chat-list__unread-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--chatlist-unread-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-weight: bold;
  font-size: 0.8rem;
}

.chat-list__options-button {
  color: var(--main-font-color);
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: center;
  align-self: end;
  text-align: center;
  bottom: 5px;
  width: 50px;
  height: 50px;
  background: var(--main-accent-color-transperent);

  border-radius: 25px;
  box-shadow: var(--main-shadow-level2);
}

.chat-list__options-button:hover {
  background: var(--main-accent-color);
  box-shadow: var(--main-shadow-level1);
}
