.chatselector {
    margin: 0;
    display: grid;
    width: 100%;
    grid-template-columns: 84px auto;
    height: 84px;
    cursor: pointer;
}

.chatselector:hover {
    display: grid;
    width: 100%;
    grid-template-columns: 84px auto;
    height: 84px;
    background: var(--chatlist-selector-hover-color);
    box-shadow: var(--main-shadow-level1);
    border-radius: 15px;
}

.chatselector__bottom-line {
    background: var(--bottom-line-color);
    width: 90%;
    height: 1px;
}

.chatselector__avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.chatselector__avatar {
    width: 57px;
    height: 57px;
    background: var(--chatlist-avatar-color);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--from-input-bg-hover-color);
    background-position: center;
    background-image: url("../../../../../resources/portrait.png");
}

.chatselector__discription {
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: 40px auto;
}

.chatselector__name {
    align-self: end;
    font-weight: bold;
    font-size: 24px;
    color: var(--chatlist-selector-font-color);
}

.chatselector__last-messege {
    align-self: center;
    justify-self: left;
    font-size: 0.8rem;
    color: var(--chatlist-selector-font-color);
}

.chatselector__last-time {
    align-self: end;
    justify-self: center;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: var(--chatlist-selector-font-color);
}

.chatselector__unread {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.chatselector__unread-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--chatlist-unread-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 0.8rem;
}
